<!doctype html>
<html>
    <head>
        <title>
            Detect Copyrights with an AI
        </title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <body class="bg-dark text-light">
        {% include "navbar.html" %}
        <h1>
            Detect Copyrights with an AI
        </h1>
        <div>
            <form method="POST">
                <label for="copy_data">Type in Data:</label>
                <br>
                <textarea id="copy_data" name="copy_data" rows="4" cols="50" class="bg-secondary text-light"></textarea>
                <br>
                <button type="submit" class="btn btn-secondary">Click Me!</button>
            </form>
            
            {% if data %}
                {% for row in data %}
                    <!-- We estimate, that the String "{{ row[0] }}" is a Copyright Statement by {{ 1- row[1] }} percent. -->
                    {{ row }}
                    <br> 
                {% endfor %}
            {% endif %}
        </div>
        <!-- Bootstrap JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>
</html>